---
layout: default
class: index
search: true
qrcode: true
---

<section class="banner">
    <div class="container">
        <h1 class="banner__title">{{ site.title }}</h1>
        <h2 class="banner__subtitle">{{ site.subtitle }}</h2>
        <div class="banner__meta">
            <div class="banner__meta__item">
                <span class="banner__meta__item__title mdi" data-mdi="map-marker-radius-outline">Address</span>
                <span class="banner__meta__item__content">{{ site.location }}</span>
            </div>
            <div class="banner__meta__item">
                <span class="banner__meta__item__title mdi" data-mdi="pulse">Site access</span>
                <span class="banner__meta__item__content" id="site-access">∞</span>
            </div>
        </div>
    </div>
</section>

<div class="container container--main-body">
    <div class="content">
        {%- assign notification = site.data.notification | sample -%}
        <div class="notification">
            <div class="notification__content mdi" data-mdi="alert-circle-outline">
                {{ notification.content }}
            </div>
            <span class="notification__time">
                {{ notification.time }}
            </span>
        </div>
        <ol class="posts-list">
            {%- assign topPosts = site.documents | where_exp:"item", "item.top > 0" | sort: "top" -%}
            {%- assign pagePosts = paginator.posts -%}
            {%- if paginator.page == 1 -%}
                {%- for post in topPosts -%}
                    {%- assign pagePosts = pagePosts | where_exp:"item", "item.title != post.title" -%}
                    <li class="posts-list__item transition3">
                        <h3 class="posts-list__item__title"><a class="transition5" href="{{ post.url }}">{{ post.title }}</a></h3>
                        <div class="posts-list__item__img">
                            <div class="posts-list__item__img__content transition5" style="background-image: url('{{ post.image }}');"></div>
                        </div>
                        <p class="posts-list__item__desc transition5">{{ post.excerpt | strip_html | strip }}</p>
                        <div class="posts-list__item__mark text-unselectable" data-mark-type="top-{% increment topIncerment %}">TOP</div>
                        <p class="posts-list__item__metas">
                            {% for category in post.categories %}
                                <a class="mdi" href="/categories/#{{ category }}" data-mdi="folder-open">{{ category }}</a>
                            {% endfor %}
                            <span class="mdi" data-mdi="calendar-month">{{ post.date | date_to_string: "ordinal", "US" }}</span>
                        </p>
                    </li>
                {%- endfor -%}
            {%- endif -%}
            {% for post in pagePosts %}
                <li class="posts-list__item transition3">
                    <h3 class="posts-list__item__title"><a class="transition5" href="{{ post.url }}">{{ post.title }}</a></h3>
                    <div class="posts-list__item__img">
                        <div class="posts-list__item__img__content transition5" style="background-image: url('{{ post.image }}');"></div>
                    </div>
                    <p class="posts-list__item__desc transition5">{{ post.excerpt | strip_html | strip }}</p>
                    <div class="posts-list__item__mark">{{ post.mark }}</div>
                    <p class="posts-list__item__metas">
                        {% for category in post.categories %}
                            <a class="mdi" href="/categories/#{{ category }}" data-mdi="folder-open">{{ category }}</a>
                        {% endfor %}
                        <span class="mdi" data-mdi="calendar-month">{{ post.date | date_to_string: "ordinal", "US" }}</span>
                    </p>
                </li>
            {% endfor %}
        </ol>

        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                {%- assign lastUrl = '/' -%}
            {% else %}
                {%- assign lastUrl = "/page" | append: paginator.previous_page -%}
            {% endif %}
        {%- else -%}
            {%- assign lastUrl = 'javascript:void(0);' -%}
        {% endif %}
        {%- if paginator.next_page -%}
            {%- assign nextUrl = '/page' | append: paginator.next_page -%}
        {%- else -%}
            {%- assign nextUrl = 'javascript:void(0);' -%}
        {%- endif -%}

        <div class="paginator text-unselectable">
            <a class="paginator__item--last transition3 mdi" href="{{ lastUrl }}" data-mdi="chevron-left" data-page="{{ lastUrl }}"></a>
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <a class="paginator__item--active transition3" href="javascript:void(0);" data-page="javascript:void(0);">{{ page }}</a>
                {% else %}
                    {%- if page == 1 -%}
                        {%- assign pageUrl = '/' -%}
                    {%- else -%}
                        {%- assign pageUrl = '/page' | append: page -%}
                    {%- endif -%}
                    <a class="paginator__item--other transition3" href="{{ pageUrl }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
            <a class="paginator__item--next transition3 mdi" href="{{ nextUrl }}" data-mdi="chevron-right" data-page="{{ nextUrl }}"></a>
        </div>
    </div>
    {%- include sidebar.html -%}
</div>