<!-- 评论模块 -->
{% if page.comments != false %}
  <h3>Comments</h3>
  <div id="gitalk-container"></div>
  <link rel="stylesheet" href="/assets/vendor/gitalk/gitalk.css"/>
  <script src="/assets/vendor/gitalk/gitalk.min.js"></script>
  <script>
    var gitalk = new Gitalk({
      id: '{{ page.url | truncate: 50, "" }}',
      clientID: '{{ site.gitalk.clientID }}',
      clientSecret: '{{ site.gitalk.clientSecret }}',
      repo: '{{ site.gitalk.repo }}',
      owner: '{{ site.gitalk.owner }}',
      admin: ['{{ site.gitalk.owner }}'],
      labels: ['gitment'],
      perPage: 50,
    });
    gitalk.render('gitalk-container');
  </script>
{% endif %}