<!-- footer -->
<footer class="container">
  <div class="site-footer" role="contentinfo">
    <div class="copyright left mobile-block">
      © {% assign year = site.time | date: '%Y' %}{{ year }}
      <span title="{{ site.author}}">{{ site.author }}&nbsp;&nbsp;</span>
      {% if site.beian %}
        <a href="{{ site.MIIT }}" class="right mobile-visible site-record">{{ site.beian }}</a>
      {% else %}
        <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
      {% endif %}
    </div>
    <ul class="site-footer-links right mobile-hidden">
      <li>
        <img width="16px" height="16px" src="/assets/svg/siterecord.svg" style="vertical-align: middle;"/>
        <a href="{{ site.MIIT }}" class="site-record" >{{ site.beian }}</a>
      </li>
    </ul>
    <a href="{{ site.github.repository_url }}" target="_blank" aria-label="view source code">
      <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
    </a>
    <ul class="site-footer-links mobile-hidden">
      {% for nav in site.navs %}
        <li>
          <a href="{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="{{ site.subscribe_rss }}"><span class="octicon octicon-rss" style="color:orange;"></span></a>
      </li>
    </ul>
  </div>
</footer>

<!-- the fly button: return to top -->
<div class="tools-wrapper">
  <a class="gotop" href="#" title="回到顶部"><span class="octicon octicon-arrow-up"></span></a>
</div>

<!-- enable the js file that can load at the end -->
<script src="/assets/vendor/share.js/dist/js/share.min.js"></script>
<script src="/assets/js/geopattern.js"></script>
<script src="/assets/js/prism.js"></script>
<link rel="stylesheet" href="/assets/css/globals/prism.css">
<script>
  jQuery(document).ready(function($) {
    $('.geopattern').each(function(){
      $(this).geopattern($(this).data('pattern-id'));
    });
  });
</script>

<!-- if the page enable mermaid -->
{% if page.mermaid %}
<script src="/assets/js/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
{% endif %}

<!-- if the page enable sequence -->
{% if page.sequence %}
  <script src="/assets/js/webfont.js"></script>
  <script src="/assets/js/snap.svg-min.js"></script>
  <script src="/assets/js/underscore-min.js"></script>
  <script src="/assets/vendor/js-sequence-diagrams/dist/sequence-diagram-min.js"></script>
  <link rel="stylesheet" href="/assets/vendor/js-sequence-diagrams/dist/sequence-diagram-min.css">
  <script>
    $(".language-sequence").sequenceDiagram({theme: 'simple'});
  </script>
{% endif %}

<!-- if the page enable flow -->
{% if page.flow %}
  <script src="/assets/js/raphael.min.js"></script>
  <script src="/assets/vendor/flowchart.js/dist/flowchart.min.js"></script>
  <script src="/assets/js/flow.js"></script>
{% endif %}

<!-- if the page enable mathjax, mathjax 脚本无法引入本地目录 -->
{% if page.mathjax %}
  <script type="text/javascript" src="https://basis-learning.github.io/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

<!-- if the site enable google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google.analytics_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google.analytics_id }}');
</script>

<!-- 百度自动推送脚本，百度站长加入使用 -->
{% comment %}
  本网站基于 github page 搭建，由于 github 封锁百度爬虫，失效
  <script>
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = '/assets/js/baidu_push.js';
      }
      else {
        bp.src = '/assets/js/baidu_zhanzhang.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
  </script>
{% endcomment %}

</body>
</html>