<script>

    /**
     * ruby 标注语法生成
     *
     * @param str
     * @returns {*}
     */
    function rubyFormatter(str) {
        return str.replace(/{([^{}()]+)}\(([^{}()]+)\)/g, function(match, $1, $2) {
            return '<ruby>' + $1 + '<rt>' + $2 + '</rt></ruby>';
        });
    }

    function warningFormatter(str) {
        return str.replace(/!!!(.*)?!!!/g, function(match, $1) {
            return '<span class="warning">' + $1 + '</span>';
        });
    }

    const ARTICLE = document.getElementsByTagName('article')[0];

    if (ARTICLE != null) {
        let tmp = ARTICLE.innerHTML;
        tmp = rubyFormatter(tmp);
        tmp = warningFormatter(tmp);
        ARTICLE.innerHTML = tmp;
    }

    /* 所有 img 后添加标题 */
    if (ARTICLE != null) {
        let imgs = ARTICLE.getElementsByTagName('img');
        for (let i = 0; i < imgs.length; i++) {
            let imgNote = document.createElement('span');
            imgNote.classList.add('img-note')
            imgNote.innerHTML = imgs[i].alt;
            imgs[i].parentNode.insertBefore(imgNote, imgs[i].nextSibling);
        }
    }

    /**/
</script>
