<header>
    <section class="container">
        <p class="site-title mdi">{{ site.title }}</p>
        <nav>
            <ul>
                {% for nav in site.navs %}
                {% if nav.href %}
                <li class="sub-menu-parent" tab-index="0">
                    <a href="{{ nav.href }}">{{ nav.label }}</a>
                </li>
                {% else %}
                <li class="sub-menu-parent" tab-index="0">
                    <a href="http://google.com">{{ nav.label }}</a>
                    <ul class="sub-menu">
                        {% for collection in nav.sub-navs %}
                        <li><a href="{{ collection.href }}">{{ collection.label }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </section>
</header>