<header class="site-header">
  <div class="container">
    <h1>
      <a href="/" title="{{ site.title }}">
        <span class="octicon octicon-mark-github"></span>
        {{ site.title }}
      </a>
    </h1>
    <button class="collapsed mobile-visible" type="button" onclick="toggleMenu();">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <nav class="site-header-nav" role="navigation">
      {% for nav in site.navs %}
      <a href="{{ nav.href }}" class="{% if page.menu == nav.label %} selected {% endif %} site-header-nav-item"
        target="{{ nav.target | default: _self }}" title="{{ nav.label }}">
        {{ nav.label }}
      </a>
      {% endfor %}
    </nav>
  </div>
</header>