<!-- 分类菜单展示 -->
{% if page.categories %}
  {% if page.title == 'Categories'%}
    <h3 class="post-directory-title">Categories</h3>
  {% else %}
    <h3 class="post-directory-title">Post articles</h3>
  {% endif %}
  <div id="post-directory-module">
    <ul class="list-group">
      {% assign sorted_categories = site.categories | sort %}
        {% for category in sorted_categories %}
          <li class="list-group-item">
            <a href="#{{ category[0] }}">{{ category | first }}</a>
            <span class="badge">{{ category[1].size }}</span>
          </li>
        {% endfor %}
    </ul>
  </div>
  {% if page.title == 'Categories'%}
    <div style="margin-top: 1.5rem;display: flex; flex-direction: row;">
      <a href="/archives/" style="text-decoration:underline;color: #333;">
        <h3>Archive by date</h3>
      </a>
      <span style="font-size: 0.7rem;color: #333; flex: 1; align-self: center; text-align: right;">{{ article.description | truncate: 20, "..." }}</span>  
    </div>
    <span style="margin-bottom: 1.5rem;font-size: 0.7rem;color: #333">本站文章均为原创，如欲转载，请于文首附上原文地址</span><br/>
  {% endif %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#post-directory-module li").css('text-transform','capitalize')
    });
  </script>
{% endif %}