<!-- 分类菜单展示 -->
{% if page.categories %}
<h3>Categories</h3>
<div id="blog-categories">
  <ul class="list-group">
    {% if page.title == 'Wiki' %}
      {% assign categories = site.wiki.categories %}
    {% else %}
      {% assign categories = site.categories %}
    {% endif %}
    {% assign sorted_categories = categories | sort %}
    {% for category in sorted_categories %}
    <li class="list-group-item">
    <a href="#{{ category[0] }}">{{ category | first }}</a>
    <span class="badge">{{ category[1].size }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#blog-categories li").css('text-transform','capitalize')
  });
</script>
{% endif %}