<!-- 评论模块 -->
{% if page.calendar %}
  <h3>Calendar</h3>
  <center id="calendar_container">
    <table>
      <thead id="calendar_header">
        <td>
          <table>
            <td id="pre_month">&lt;</td>
            <td id="show_date"></td>
            <td id="next_month">&gt;</td>					
          </table>
        </td>
      </thead>
      <tr id="calendar_weeks">
        <td>
          <table>
            <td class="calendar_column">Sun</td>
            <td class="calendar_column">Mon</td>
            <td class="calendar_column">Tue</td>
            <td class="calendar_column">Wed</td>
            <td class="calendar_column">Thu</td>
            <td class="calendar_column">Fri</td>
            <td class="calendar_column">Sat</td>
          </table>
        </td>
      </tr>
      <tr id="calendar_body">
        <td id="calendar_body_container"></td>
      </tr>
    </table>
  </center>
  <script src="/assets/js/calendar.js"></script>
{% endif %}