<!-- 评论模块 -->
{% if page.calendar %}
  <h3>Calendar</h3>
  <div style="height: 190px;margin: 0px auto; text-align: center">
    <table id="Calendar" width="212">
      <tr>
        <td height="21" bgcolor="#78b3ed" width="212">
          <table id="LHeader" height="21" width="212">
            <tbody>
              <tr align="center">
                <td id="pre_month" align="center" width="21" onclick="preMonth()">&lt;</td>
                <td align="center">
                  <span id="showDate"></span>
                </td>
                <td id="next_month" align="center" width="21" onclick="nextMonth()">&gt;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height="18">
          <table id="LDay" bgcolor="#e7f1fd">
            <tbody>
              <tr>
                <td>日</td>
                <td>一</td>
                <td>二</td>
                <td>三</td>
                <td>四</td>
                <td>五</td>
                <td>六</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height="120" width="212" id="Container" style="text-align: center;">
        </td>
      </tr>
    </table>
  </div>
  <script src="/assets/js/calendar.js"></script>
{% endif %}