<div class="sidebar">
    {%- if page.search -%}
        <div class="sidebar-item transition3">
            {%- include sidebar-search.html -%}
        </div>
    {%- endif -%}
    {%- if page.qrcode -%}
        <div class="sidebar-item transition3">
            {%- include sidebar-qrcode.html -%}
        </div>
    {%- endif -%}
    {%- if page.catalogue -%}
        <div class="sidebar-item transition3" id="sidebar-catalogue">
            {%- include sidebar-catalogue.html -%}
        </div>
    {%- endif -%}
</div>