.home .banner,
.home .site-header {
  background: linear-gradient(135deg, #827100, #5c862d, #057748, #065279, #4a4266) left center/400% 400%;
  color: #fff;
  animation: move 15s infinite;
}

@keyframes move {
  0%,
  100% {
    background-position-x: left;
  }
  50% {
    background-position-x: right;
  }
}

.home .banner .collection-head {
  color: #fff;
  background: 0 0;
  box-shadow: none;
  -webkit-box-shadow: none
}

.home .site-header {
  border-bottom: none
}

.home .site-header h1 a {
  color: #fff
}

.home .site-header .site-header-nav-item {
  color: rgba(255, 255, 255, .5)
}

.home .site-header .site-header-nav-item:hover {
  color: #fff
}


@media (max-width:50em) {
  .home .collapsed .icon-bar {
    background-color: white;
  }

  .home .collection-head .collection-header {
    font-size: 1.25em;
  }
}
