:root {
    --z-index-highest: 10000;
    --z-index-999: 999;
    --z-index-0: 0;
    --z-index-background: -1;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header, .mian, footer {
    width: 100%;
}
header {
    flex: 0 0 auto;
}
.main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    height: 200px;
    background: red;
    z-index: var(--z-index-999);
}
header .container, .main .container, footer .container {
    max-width: 1200px;
}

/* Header */
header {
    z-index: var(--z-index-999);
    background: linear-gradient(135deg, #827100, #5c862d, #057748, #065279, #4a4266) left center/400% 400%;
    color: #fff;
    animation: move 15s infinite;
}
header .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
/* header left side */
.site-title {
    position: relative;
    margin: 12px 0 12px 48px;
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
}
.site-title::before{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-110%, -50%);
    content: "\F02A4";
    font-size: 2.5rem;
}
/* header right side */
nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: block;
}
.menus {
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}
.menus__item {
    position: relative;
}
.menus__item a {
    display: block;
    margin: 0 2rem;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
    text-decoration: none;
}
.menus__item::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0.5rem, -55%);
}
.menus__item:nth-child(1):hover ~ .menus__indicator,
.menus__item:nth-child(1):focus ~ .menus__indicator,
.menus__item:nth-child(1):focus-within ~ .menu__indicator {
    left: 0.6rem;
}
.menus__item:nth-child(2):hover ~ .menus__indicator,
.menus__item:nth-child(2):focus ~ .menus__indicator,
.menus__item:nth-child(2):focus-within ~ .menus__indicator {
    left: 6.6rem;
}
.menus__item:nth-child(3):hover ~ .menus__indicator,
.menus__item:nth-child(3):focus ~ .menus__indicator,
.menus__item:nth-child(3):focus-within ~ .menus__indicator {
    left: 12.6rem;
}
.menus__item:nth-child(4):hover ~ .menus__indicator,
.menus__item:nth-child(4):focus ~ .menus__indicator,
.menus__item:nth-child(4):focus-within ~ .menus__indicator {
    left: 18.6rem;
}
.menus__item:nth-child(5):hover ~ .menus__indicator,
.menus__item:nth-child(5):focus ~ .menus__indicator,
.menus__item:nth-child(5):focus-within ~ .menus__indicator {
    left: 24.6rem;
}
.menus__item:nth-child(6):hover ~ .menus__indicator,
.menus__item:nth-child(6):focus ~ .menus__indicator,
.menus__item:nth-child(6):focus-within ~ .menus__indicator {
    left: 30.6rem;
}
.menus__item:nth-child(1)::before {
    content: '🏠';
}
.menus__item:nth-child(2)::before {
    content: '📚';
}
.menus__item:nth-child(3)::before {
    content: '🏹';
}
.menus__item:nth-child(4)::before {
    content: '📁';
}
.menus__item:nth-child(5)::before {
    content: '🕵️';
}
.menus__item:nth-child(6)::before {
    content: '😀';
}
.menus__item__sub-menu__item {

}
.menus__item__sub-menu {
    position: absolute;
    display: block;
    top: 0%;
    left: 0;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    z-index: var(--z-index-background);
    background: red;
    color: black;
    word-break: keep-all;
}
.menus__item:hover .menus__item__sub-menu {
    opacity: 1;
    z-index: var(--z-index-999) + 1;
    top: 100%;
}
.menus__indicator {
    position: absolute;
    bottom: -0.6rem;
    left: 0.6rem;
    height: 3px;
    width: 1.2rem;
    background: white;
}

/* Material Design Icon */
@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/materialdesignicons-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* General CSS Class */
.mdi {
    font-family: "Material Design Icons";
}
.text-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.transition3 {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.transition5 {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.transition8 {
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
.transition10 {
    -webkit-transition: .10s;
    -moz-transition: .10s;
    -ms-transition: .10s;
    -o-transition: .10s;
    transition: .10s;
}