:root {
    --z-index-highest:             10000;
    --z-index-header:              999;
    --z-index-footer:              99;
    --z-index-page:                0;
    --z-index-page-before:         100;
    --z-index-page-after:          -100;
    --color-bg:                  #ffffff;
    --color-bg-active:           #fcfcfc;
    --color-primary-dark:        #1976D2;
    --color-primary:             #00A1D6;
    --color-primary-light:       #E5F2FF;
    --color-accent:              #CDDC39;
    --color-text-light-primary:  #FFFFFF;
    --color-text-light-secondary:#DBDBDB;
    --color-text-dark-primary:   #212121;
    --color-text-dark-thirdary:  #98A2AA;
    --color-text-dark-secondary: #757575;
    --color-divider:             #BDBDBD;
    --color-divider-secondary:   #DDDDDD;
    --emoji-home:                  '🏠';
    --emoji-posts:                 '📜';
    --emoji-categories:            '📚';
    --emoji-explore:               '🏹';
    --emoji-quest:                 '🕵️';
    --emoji-wiki:                  '📁';
    --emoji-about:                 '😀';
    --emoji-algorithm:             '📉';
    --emoji-design-pattern:        '⚖️';
    --emoji-source-code:           '🔣';
    --emoji-computer:              '🖥️';
    --emoji-architecture:          '📐';
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: var(--color-bg);
}
header, .mian, footer {
    width: 100%;
}
.main {
    position: relative;
    margin-top: 4rem;
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}
header .container, .main .container, footer .container {
    margin: 0 auto;
    max-width: 1020px;
    min-width: 850px;
}
.container--main-body {
    display: flex;
    flex-direction: row;
}
.container--main-body .content {
    flex: 0 0 auto;
    margin: 2rem 1%;
    width: 68%;
}
.container--main-body .sidebar {
    flex: 0 0 auto;
    margin: 2rem 1%;
    width: 28%;
}
#zhi-hu-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-page-after);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-header);
    color: var(--color-text-light-primary);
    background: linear-gradient(to right, #5c862d, #057748, #0A5178, #065279, #4a4266) left center/400% 400%;
    animation: move-header-background 15s infinite;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.8);
    box-shadow: 0 1px 3px rgba(26,26,26,.8)
}
header .container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
/* header left side */
.site-title {
    position: relative;
    display: block;
    margin: 12px 0 12px 48px;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--color-text-light-primary);
    white-space: nowrap;
    text-decoration: none;
}
.site-title::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-110%, -50%);
    font-size: 2.5rem;
}
.menus {
    position: relative;
    display: flex;
    width: fit-content;
    margin-right: -2rem;
}
.menus__item {
    position: relative;
    display: block;
    padding: 2rem 2rem 1rem;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-text-light-secondary);
    text-decoration: none;
    white-space: nowrap;
}
.menus__item:hover {
    color: var(--color-text-light-primary);
}
.menus__item::before {
    position: absolute;
    top: 2rem;
    left: 0.5rem;
}
.menus__item:nth-child(1)::before {
    content: var(--emoji-home);
}
.menus__item:nth-child(2)::before {
    content: var(--emoji-categories);
}
.menus__item:nth-child(3)::before {
    content: var(--emoji-explore);
}
.menus__item:nth-child(4)::before {
    content: var(--emoji-quest);
}
.menus__item:nth-child(5)::before {
    content: var(--emoji-wiki);
}
.menus__item:nth-child(6)::before {
    content: var(--emoji-about);
}
.menus__item__sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3rem;
    left: 0;
    width: fit-content;
    height: fit-content;
    background: var(--color-text-light-primary);
    box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
}
.menus__item:hover .menus__item__sub-menu,
.menus__item:focus .menus__item__sub-menu,
.menus__item:focus-within .menus__item__sub-menu {
    visibility: visible;
    opacity: 1;
    top: 4rem;
}
.menus__item__sub-menu__item {
    padding: 0 0.5rem;
    width: 6rem;
    height: 0;
    font-size: 1rem;
    line-height: 1rem;
    word-break: keep-all;
    color: var(--color-text-dark-secondary);
    text-decoration: none;
}
.menus__item:hover .menus__item__sub-menu__item {
    height: fit-content;
    padding: 0.5rem;
}
.menus__item:hover .menus__item__sub-menu__item:nth-child(1) {
    top: 0;
}
.menus__item:hover .menus__item__sub-menu__item:nth-child(2) {
    top: 2rem;
}
.menus__item:hover .menus__item__sub-menu__item:nth-child(3) {
    top: 4rem;
}
.menus__item:hover .menus__item__sub-menu__item:nth-child(4) {
    top: 6rem;
}
.menus__item:hover .menus__item__sub-menu__item:nth-child(5) {
    top: 8rem;
}
.menus__item__sub-menu__item::before {
    margin-right: 0.5rem;
}
.menus__item__sub-menu__item:nth-child(1)::before {
    content: var(--emoji-algorithm);
}
.menus__item__sub-menu__item:nth-child(2):before {
    content: var(--emoji-design-pattern);
}
.menus__item__sub-menu__item:nth-child(3):before {
    content: var(--emoji-source-code);
}
.menus__item__sub-menu__item:nth-child(4):before {
    content: var(--emoji-computer);
}
.menus__item__sub-menu__item:nth-child(5):before {
    content: var(--emoji-architecture);
}
.menus__item__sub-menu__item.active,
.menus__item__sub-menu__item:hover {
    color: var(--color-text-dark-primary);
}
.menus__item__sub-menu__item.active::after,
.menus__item__sub-menu__item:hover::after {
    content: '·';
}
.menus__indicator {
    position: absolute;
    bottom: 0.5rem;
    left: 2.5rem;
    height: 3px;
    width: 1rem;
    background: var(--color-text-light-primary);
    pointer-events: none;
}
.menus__item:nth-child(1).active ~ .menus__indicator {
    left: 2.5rem;
}
.menus__item:nth-child(2).active ~ .menus__indicator {
    left: 8.5rem;
}
.menus__item:nth-child(3).active ~ .menus__indicator {
    left: 14.5rem;
}
.menus__item:nth-child(4).active ~ .menus__indicator {
    left: 20.5rem;
}
.menus__item:nth-child(5).active ~ .menus__indicator {
    left: 26.5rem;
}
.menus__item:nth-child(6).active ~ .menus__indicator {
    left: 32.5rem;
}
.menus__item:nth-child(1):hover ~ .menus__indicator,
.menus__item:nth-child(1):focus ~ .menus__indicator,
.menus__item:nth-child(1):focus-within ~ .menu__indicator {
    left: 2.5rem;
}
.menus__item:nth-child(2):hover ~ .menus__indicator,
.menus__item:nth-child(2):focus ~ .menus__indicator,
.menus__item:nth-child(2):focus-within ~ .menus__indicator {
    left: 8.5rem;
}
.menus__item:nth-child(3):hover ~ .menus__indicator,
.menus__item:nth-child(3):focus ~ .menus__indicator,
.menus__item:nth-child(3):focus-within ~ .menus__indicator {
    left: 14.5rem;
}
.menus__item:nth-child(4):hover ~ .menus__indicator,
.menus__item:nth-child(4):focus ~ .menus__indicator,
.menus__item:nth-child(4):focus-within ~ .menus__indicator {
    left: 20.5rem;
}
.menus__item:nth-child(5):hover ~ .menus__indicator,
.menus__item:nth-child(5):focus ~ .menus__indicator,
.menus__item:nth-child(5):focus-within ~ .menus__indicator {
    left: 26.5rem;
}
.menus__item:nth-child(6):hover ~ .menus__indicator,
.menus__item:nth-child(6):focus ~ .menus__indicator,
.menus__item:nth-child(6):focus-within ~ .menus__indicator {
    left: 32.5rem;
}

/* Footer */
footer .container {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    border-top: 1px solid var(--color-divider-secondary);
}
.footer-left, .footer-right {
    flex: 1 0 auto;
}
.footer-center {
    flex: 0 0 auto;
}
.footer-left a {
    display: inline-block;
    width: 2.4rem;
    text-decoration: none;
    color: var(--color-text-dark-secondary);
}
.footer-left a:hover {
    color: var(--color-text-dark-primary);
}
.footer-center__logo {
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
}
.footer-center__logo::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2rem;
    color: var(--color-divider);
}
.footer-center__logo:hover::before {
    cursor: pointer;
    color: var(--color-text-dark-secondary);
}
.footer-right {
    text-align: right;
}
.footer-right, .footer-right a {
    text-decoration: none;
    color: var(--color-text-dark-secondary);
}
.footer-right a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-text-dark-primary);
}

/* Index */
.index header {
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.2);
    box-shadow: 0 1px 3px rgba(26,26,26,.2)
}
.index .banner {
    color: var(--color-text-light-primary);
    background: linear-gradient(to right, #5c862d, #057748, #0A5178, #065279, #4a4266) left center/400% 400%;
    animation: move-header-background 15s infinite;
}
.index .banner__title {
    margin: 0;
    height: 0;
    opacity: 0;
}
.index .banner__subtitle {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: normal;
}
.banner__meta {
    padding: 2rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.banner__meta__item {
    position: relative;
    margin-left: 2.3rem;
    display: inline-block;
}
.banner__meta__item__title::before {
    position: absolute;
    top: 50%;
    left: -1.2rem;
    transform: translate(-0.1rem, -50%);
    font-size: 1.2rem;
}
.banner__meta__item__title::after {
    content: ': ';
}

/* Index */
.notification {
    position: relative;
    height: 1.5rem;
    overflow: hidden;
    color: var(--color-text-dark-secondary);
    background-color: #edf2f9;
    border-radius: 4px;
}
.notification::before {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
}
.notification__list {
    margin-left: 3rem;
    animation: vertical-scrolling 25s infinite;
}
.notification__list__item {
    height: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notification__list__item--content {
    font-size: 0.8rem;
}
.notification__list__item--time {
    margin-right: 1.5rem;
    font-size: 1rem;
    color: var(--color-text-dark-thirdary);
}
.posts-list {
    padding: 0;
    width: 100%;
    height: fit-content;
    list-style: none;
}
.posts-list__item {
    position: relative;
    margin: 0;
    padding: 1.5rem;
    height: fit-content;
    display: grid;
    grid-template-columns: 200px 1fr 64px;
    grid-template-rows: 1rem 1fr 0.8rem;
    grid-row-gap: 0.8rem;
    grid-column-gap: 1rem;
    grid-template-areas:
                        'img title mark'
                        'img desc desc'
                        'img metas metas';
    justify-items: start;
    align-items: center;
    justify-content: stretch;
    align-content: center;
    border-radius: 1px;
}
.posts-list__item:not(:last-child)::after {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 98%;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e5e9ef;
}
.posts-list__item:hover {
    background: var(--color-bg);
    -webkit-box-shadow: 0 2px 5px #ccc;
    box-shadow: 0 2px 5px #ccc;
}
.posts-list__item__img {
    grid-area: img;
}
.posts-list__item__title {
    grid-area: title;
}
.posts-list__item__mark {
    grid-area: mark;
    justify-self: flex-end;
}
.posts-list__item__desc {
    grid-area: desc;
    align-self: flex-start;
}
.posts-list__item__metas {
    grid-area: metas;
}
.posts-list__item__img {
    display: block;
    width: 200px;
    height: 123.6px;
    overflow: hidden;
}
.posts-list__item__img__content {
    position: relative;
    width: 200px;
    height: 123.6px;
    background: var(--color-text-light-secondary) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.posts-list__item:hover .posts-list__item__img__content {
    transform: scale(1.05);
}
.posts-list__item__title,
.posts-list__item__title a {
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: rgba(26,26,26,0.9);
}
.posts-list__item:hover .posts-list__item__title a {
    color: var(--color-primary);
}
.posts-list__item__mark {
    position: relative;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-primary);
}
.posts-list__item__mark[data-mark-type="top-0"] {
    opacity: 1;
}
.posts-list__item__mark[data-mark-type="top-1"] {
    opacity: 0.7;
}
.posts-list__item__mark[data-mark-type="top-2"] {
    opacity: 0.4;
}
.posts-list__item__mark[data-mark-type="top-3"] {
    opacity: 0.1;
}

.posts-list__item__desc {
    margin: 0;
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 0.9rem;
    color: var(--color-text-dark-secondary);
}
.posts-list__item:hover .posts-list__item__desc {
    color: var(--color-text-dark-primary);
}
.posts-list__item__metas,
.posts-list__item__metas a {
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    color: var(--color-text-dark-thirdary);
    text-decoration: none;
}
.posts-list__item__metas a,
.posts-list__item__metas span {
    margin-left: 0.5rem;
}
.posts-list__item__metas a:hover {
    color: var(--color-primary);
}
.posts-list__item__metas a::before,
.posts-list__item__metas span::before {
    margin-right: 0.3rem;
    font-size: 1rem;
}
.paginator {
    margin: 1rem auto 0;
    width: fit-content;
    height: fit-content;
}
.paginator a {
    margin: 0 0.25rem;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-dark-thirdary);
    background-color: var(--color-bg-active);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
}
a.paginator__item--active {
    color: var(--color-primary);
    background: var(--color-primary-light);
}
.paginator a:hover {
    color: var(--color-primary);
    background: var(--color-primary-light);
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.paginator a[data-page="javascript:void(0);"]:not(.paginator__item--active):hover {
    color: var(--color-text-dark-thirdary);
    background-color: var(--color-bg-active);
}

/* Page */
.page .banner {
    background: -webkit-gradient(linear, left, right, from(#333333), to(#1A1A1A));
    background: -webkit-linear-gradient(to right, #333333, #1A1A1A);
    background: -o-linear-gradient(to right, #333333, #1A1A1A);
    background: linear-gradient(to right, #333333, #1A1A1A);
    background-size: cover;
}
.page .banner .container {
    height: 200px;
    display: flex;
    align-items: center;
}
.page .banner .banner__text-wrapper {
    flex: 1 0 auto;
}
.page .banner .banner__img {
    flex: 0 0 auto;
    width: 256px;
    height: 80%;
    background: rgba(255, 255, 255, 0) no-repeat center center;
    background-size: contain;
}
.page .banner h1 {
    margin: 0;
    padding: 1.5em 0;
    color: var(--color-text-light-primary);
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 0 1px 8px var(--color-text-dark-primary);
}
.page .banner h1[data-page="/categories"]::before {
    content: var(--emoji-categories);
}
.page .banner h1[data-page="/algorithm"]::before {
    content: var(--emoji-algorithm);
}
.page .banner h1[data-page="/design-pattern"]::before {
    content: var(--emoji-design-pattern);
}
.page .banner h1[data-page="/source-code"]::before {
    content: var(--emoji-source-code);
}
.page .banner h1[data-page="/computer"]::before {
    content: var(--emoji-computer);
}
.page .banner h1[data-page="/architecture"]::before {
    content: var(--emoji-architecture);
}
.page .banner h1[data-page="/quest"]::before {
    content: var(--emoji-quest);
}
.page .banner h1[data-page="/wiki"]::before {
    content: var(--emoji-wiki);
}
.page .banner h1[data-page="/about"]::before {
    content: var(--emoji-about);
}
.page .banner p {
    margin: 0 2rem 1.5rem 0;
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
    color: var(--color-text-light-secondary);
}

/* Post */
body.post,
body.page {
    background: #f6f6f6;
}
.post .content,
.page .content {
    padding: 0 1rem;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.7);
}
.post h1 {
    font-size: 1.4rem;
}
.post_description {
    margin: 1rem 0;
    color: var(--color-text-dark-secondary);
    font-size: 0.9rem;
    line-height: 1.5rem;

}

/* Meta Info */
.meta-info {
    margin-right: 1rem;
    margin-block-start: 1em;
    padding: 0.2rem 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 100px;
    background: #f4f4f4;
    border: 1px solid rgba(0,161,214, 0);
}
.meta-info:hover {
    cursor: pointer;
    border: 1px solid rgba(0,161,214, 1);
}
.meta-info[data-meta="top"] {
    border-radius: 4px;
    font-weight: bold;
    background: var(--color-primary-light);
}
.meta-info[data-meta="top"] {
    cursor: auto;
    border: 1px solid var(--color-primary-light);
}
.meta-info[data-meta="keyword"] {
    color: #505050;
    border: 1px solid #f4f4f4;
}
.meta-info[data-meta="keyword"]:hover {
    cursor: text;
    color: var(--color-primary);
    background: #f4f4f4;;
    border: 1px solid #f4f4f4;;
}
.meta-info::before {
    margin-right: 0.5rem;
}
.meta-info[data-meta="category"]::before {
    content: var(--emoji-categories);
}

/* Aritcle */
/* 请不要在文章中使用 h1 级标签 */
article {
    --color-text-primary: rgb(26,26,26);
    --color-text-secondary: #757575;
    position: relative;
    color: rgb(26,26,26);
    font-size: 0.9rem;
}
article h2 {
    font-size: 1.2rem;
}
article h3 {
    font-size: 1rem;
}
article h4 {
    font-size: 0.9rem;
}
article em {
    margin-left: 0.3em;
    margin-right: 0.3em;
}
article strong {
    margin-left: 0.3em;
    margin-right: 0.3em;
    font-weight: bolder;
}
article img,
article code {
    max-width: 100%;
    white-space: pre-line;
    word-break: break-word;
}
article blockquote {
    margin: 0;
    padding: 0.2rem 0.5rem;
    color: var(--color-text-secondary);
    background: #f2f2f2;
}
article blockquote p {
    margin: 0;
}
article blockquote p::before,
article blockquote p::after {
    font-family: "Material Design Icons", sans-serif;
}
article blockquote p::before {
    margin-right: 0.5em;
    content: "\F11A7";
}
article blockquote p::after {
    margin-left: 0.5em;
    content: "\F11A8";
}
article p code,
article table code,
article a code {
    margin: 0px 2px;
    padding: 2px 4px;
    font-weight: bold;
    font-family: monospace;
    color: rgb(84, 110, 122);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 239, 241);
    border-image: initial;
    background: rgb(247, 249, 250);
    border-radius: 3px;
}
article a {
    text-decoration: none;
    color: var(--color-primary);
}
article a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-primary-dark);
}
article a:active {
    color: var(--color-primary-light);
}
article table {
    border-collapse: collapse;
}
article table thead {
    background: var(--color-primary-light);
}
article table tfoot {
    background: #f5f7ff;
}
article table td,
article table th {
    padding: 0.4em 0.8em;
    border: 1px solid var(--color-divider-secondary);
}
article .task-list {
    list-style: none;
    padding-left: 2em;
}
article del {
    color: var(--color-text-dark-thirdary);
}

/* 目录 */
#markdown-toc {
    font-size: 0.8rem;
}
#markdown-toc a {
    color: var(--color-text-dark-secondary);
    text-decoration: none;
}

/* Side Bar */
.sidebar-item {
    margin: 1rem 0;
    padding: 0.8rem 0.8rem;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    border-radius: 2px;
}
.sidebar-item:nth-child(1) {
    margin-top: 0;
}
.sidebar-item:hover {
    background: var(--color-bg);
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.3);
    box-shadow: 0 1px 3px rgba(26,26,26,.3);
}
.sidebar-item__title {
    margin: 0.8rem 0;
    padding: 0;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-text-dark-primary);
    opacity: 0.8;
}
.sidebar-item .sidebar-item__title:nth-child(1) {
    margin-top: 0;
}
.sidebar-item:hover .sidebar-item__title {
    opacity: 1;
}

/* Sidebar - Search Bar */
.sidebar__search__input-wrapper {
    position: relative;
    display: block;
}
.sidebar__search__input {
    display: block;
    margin: 0 auto 0.5rem;
    width: 95%;
    height: 1.5rem;
    font-size: 0.9rem;
    outline: none;
    border: 3px solid var(--color-primary);
    border-radius: 4px;
}
.sidebar__search__input-wrapper::after {
    content: "\F0349";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 2rem;
    width: 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-text-light-primary);
    background: var(--color-primary);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sidebar__search__res {
    position: relative;
    min-height: 1rem;
    height: 1rem;
    opacity: 0;
}
.sidebar__search__res__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar__search__input:focus + .sidebar__search__res {
    opacity: 0.8;
    height: 12rem;
}
.sidebar__search__res__widget {
    position: absolute;
    width: 3px;
    height: 0.8rem;
    background: var(--color-primary);
}
.sidebar__search__res__widget::before {
    position: absolute;
    content: "";
    display: block;
    width: 0.8rem;
    height: 3px;
    background: var(--color-primary);
}
.sidebar__search__res__widget[data-widget="top-left"] {
    height: 0.5rem;
    width: 1px;
    top: 0;
    left: 4px;
}
.sidebar__search__res__widget[data-widget="top-right"] {
    height: 0.5rem;
    width: 1px;
    top: 0;
    right: 4px;
}
.sidebar__search__res__widget[data-widget="bottom-left"] {
    bottom: 0;
    left: 4px;
}
.sidebar__search__res__widget[data-widget="bottom-right"] {
    bottom: 0;
    right: 4px;
}
.sidebar__search__res__widget[data-widget="top-left"]::before {
    height: 1px;
    width: 0.5rem;
}
.sidebar__search__res__widget[data-widget="top-right"]::before {
    height: 1px;
    width: 0.5rem;
    top: 0;
    right: 0;
}
.sidebar__search__res__widget[data-widget="bottom-left"]::before {
    bottom: 0;
    left: 0;
}
.sidebar__search__res__widget[data-widget="bottom-right"]::before {
    bottom: 0;
    right: 0;
}
.sidebar__search__res__item {
    display: block;
    text-decoration: none;
    margin: 0.2rem 1rem 0;
    height: 1rem;
    font-size: 0.9rem;
    line-height: 1rem;
    overflow: hidden;
    color: var(--color-text-dark-secondary);
}
.sidebar__search__res__item:hover {
    color: var(--color-primary);
}
.sidebar__search__res__item--fail:hover {
    color: var(--color-text-dark-secondary);
}

/* Qr code */
.sidebar__qrcode {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 128px;
    background: url(/images/wechat-qrcode.png) no-repeat center center;
    background-size: contain;
}
#qrcode-toggler {
    display: none;
}
.sidebar__qrcode--full {
    position: fixed;
    z-index: var(--z-index-page-before);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3) url(/images/wechat-qrcode-square.jpg) no-repeat center center;
}
#qrcode-toggler:checked + .sidebar__qrcode--full {
    animation: drop-down-qrcode 1.2s;
    transform: translate(-50%, -50%);
}

/* Material Design Icon */
@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/materialdesignicons-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* Animations */
@keyframes move-header-background {
    0%,
    100% {
        background-position-x: left;
    }
    50% {
        background-position-x: right;
    }
}
@keyframes vertical-scrolling {
    0%,15%, 100% {
        transform: translateY(0);
    }
    20%,35% {
        transform: translateY(-1.5rem);
    }
    40%, 55% {
        transform: translateY(-3rem);
    }
    60%, 75% {
        transform: translateY(-4.5rem);
    }
    80%, 95% {
        transform: translateY(-6rem);
    }
}
@keyframes drop-down-qrcode {
    0% {
        transform: translate(-50%, -150%);
    }
    35% {
        transform: translate(-50%, -50%);
    }
    55% {
        transform: translate(-50%, -70%);
    }
    75% {
        transform: translate(-50%, -50%);
    }
    88% {
        transform: translate(-50%, -60%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

/* General CSS Class */
.text-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.transition3 {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.transition5 {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.transition8 {
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
.transition10 {
    -webkit-transition: .10s;
    -moz-transition: .10s;
    -ms-transition: .10s;
    -o-transition: .10s;
    transition: .10s;
}
/* Mdi ICONS */
.mdi {
    font-family: "Material Design Icons", sans-serif;
}
.mdi[data-mdi="github"]::before {
    content: "\F02A4";
}
.mdi[data-mdi="pulse"]::before {
    content: "\F0430";
}
.mdi[data-mdi="map-marker-radius-outline"]::before {
    content: "\F12FC";
}
.mdi[data-mdi="map-marker-outline"]::before {
    content: "\F07D9";
}
.mdi[data-mdi="folder-open"]::before {
    content: "\F0770";
}
.mdi[data-mdi="calendar-month"]::before {
    content: "\F0E17";
}
.mdi[data-mdi="send"]::before {
    content: "\F048A";
}
.mdi[data-mdi="comment-processing"]::before {
    content: "\F0184";
}
.mdi[data-mdi="star-face"]::before {
    content: "\F09A5";
}
.mdi[data-mdi="chevron-left"]::before {
    content: "\F0141";
}
.mdi[data-mdi="chevron-right"]::before {
    content: "\F0142";
}
.mdi[data-mdi="alert-circle-outline"]::before {
    content: "\F05D6";
}

/* Language icons */
.lang::before {
    content: url(../svg/lang/unknown.svg);
}
.lang[data-lang="c"]::before {
    content: url(../svg/lang/c.svg);
}
.lang[data-lang="cpp"]::before {
    content: url(../svg/lang/cpp.svg);
}
.lang[data-lang="csharp"]::before {
    content: url(../svg/lang/csharp.svg);
}
.lang[data-lang="css"]::before {
    content: url(../svg/lang/css.svg);
}
.lang[data-lang="fortran"]::before {
    content: url(../svg/lang/fortran.svg);
}
.lang[data-lang="go"]::before {
    content: url(../svg/lang/go.svg);
}
.lang[data-lang="haskell"]::before {
    content: url(../svg/lang/haskell.svg);
}
.lang[data-lang="html"]::before {
    content: url(../svg/lang/html.svg);
}
.lang[data-lang="java"]::before {
    content: url(../svg/lang/java.svg);
}
.lang[data-lang="javascript"]::before {
    content: url(../svg/lang/javascript.svg);
}
.lang[data-lang="kotlin"]::before {
    content: url(../svg/lang/kotlin.svg);
}
.lang[data-lang="lua"]::before {
    content: url(../svg/lang/lua.svg)
}
.lang[data-lang="markdown"]::before {
    content: url(../svg/lang/markdown.svg)
}
.lang[data-lang="php"]::before {
    content: url(../svg/lang/php.svg)
}
.lang[data-lang="python"]::before {
    content: url(../svg/lang/python.svg)
}
.lang[data-lang="r"]::before {
    content: url(../svg/lang/r.svg);
}
.lang[data-lang="ruby"]::before {
    content: url(../svg/lang/ruby.svg);
}
.lang[data-lang="swift"]::before {
    content: url(../svg/lang/swift.svg);
}
.lang[data-lang="typescript"]::before {
    content: url(../svg/lang/typescript.svg);
}
.lang[data-lang="xaml"]::before {
    content: url(../svg/lang/xaml.svg);
}
.lang[data-lang="angular"]::before {
    content: url(../svg/lang/angular.svg);
}
.lang[data-lang="powershell"]::before {
    content: url(../svg/lang/powershell.svg);
}
.lang[data-lang="bash"]::before {
    content: url(../svg/lang/bash.svg);
}
.lang[data-lang="latex"]::before {
    content: url(../svg/lang/latex.svg);
}
.lang[data-lang="yaml"]::before {
    content: url(../svg/lang/yaml.svg);
}
.lang[data-lang="vim"]::before {
    content: url(../svg/lang/vim.svg);
}
.lang[data-lang="vue"]::before {
    content: url(../svg/lang/vue.svg);
}