#calendar_container {
  height: 15rem;
  background-color: #b8e986;
}

#calendar_container table {
  text-align: center;
}

#calendar_header {
  background-color: #78b3ed;
  line-height: 1.5rem;
}

#calendar_header table {
  width: 100%;
}

#calendar_weeks {
  background-color: #e7f1fd;
  font-size: 0.75rem;
}

#calendar_body {
  font-size: 0.9rem;
}

#calendar_body_container {
  line-height: 1.5rem;
}

.calendar_column {
  width: 1.875rem;
}