#calendar_container {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 90%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#calendar_container table {
  text-align: center;
}

#calendar_header {
  line-height: 40px;
  font-weight: bold;
}

#calendar_header table {
  width: 100%;
}

#pre_month #next_month {
  width: 15%;
}

#calendar_weeks {
  background-color: #e0eefd;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

#calendar_body {
  font-size: 1rem;
}

#calendar_body_container {
  line-height: 32px;
}

.calendar_column {
  width: 44px;
}

.normal_date {
  color: #7f7f7f;
}

.normal_date:hover {
  cursor: pointer;
}

.active_date {
  color: #4a90e2;
  font-weight: bolder;
}

.active_date:hover {
  cursor: pointer;
}