#calendar_container table {
  text-align: center;
}

#calendar_header {
  background-color: #78b3ed;
  line-height: 32px;
  font-size: 1rem;
}

#calendar_header table {
  width: 100%;
}

#pre_month #next_month {
  width: 15%;
}

#calendar_weeks {
  background-color: #e7f1fd;
  line-height: 24px;
  font-size: 0.8rem;
}

#calendar_body {
  font-size: 1rem;
}

#calendar_body_container {
  line-height: 32px;
}

.calendar_column {
  width: 32px;
}

.calendar_column .normal_date {
  color: #7f7f7f;
}

.calendar_column .active_date {
  font-weight: 600;
}