<!-- 文章头部 -->
<!DOCTYPE html>
<html lang="zh-cmn-Hans" prefix="og: http://ogp.me/ns#" class="han-init">
    <head>
        <meta charset="utf-8"/>
        {% seo %}
        {% if page.keywords %}{% assign keywords = page.keywords %}{% else %}{% assign keywords = site.keywords %}{% endif %}
        <meta name="keywords" content="{{ keywords | strip_html | strip_newlines }}" />
        <meta name="og:keywords" content="{{ keywords | strip_html | strip_newlines }}" />
        {% if page.og_image_url %}
        <meta property="og:image" content="{{ page.og_image_url }}" />
        {% else if page.photo_url %}
        <meta property="og:image" content="{{ page.photo_url }}" />
        {% endif %}
        <!-- enforce the IE to use the latest DOM Mode -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
        <!-- forbid the user to zoom the window for the responsive view -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% if site.ios_app_name %}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        {% endif %}
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="{{ site.title }}">
        <link rel="stylesheet" type="text/css" href="/assets/css/global.css">
        {%- if page.prism -%}
            <link rel="stylesheet" type="text/css" href="/assets/vender/prism/prism.css">
        {%- endif -%}

        <!-- Baidu Statistics -->
        <script>
            var _hmt = _hmt || []
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?456103b2fcc2e865ad0109066ec2a125";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>
    {%- assign whitespace = ' ' -%}
    <body class="{%- if page.class -%}{{ page.class }}{%- endif -%}{%- if page.layout -%}{{ whitespace }}{{ page.layout }}{%- endif -%}">
        <canvas id="zhi-hu-background"></canvas>
        {% include header.html %}
        <div class="main">
            {{ content }}
        </div>
        {% if page.footer != false %}
            {% include footer.html %}
        {% endif %}
    </body>
    <!-- active nav bar title for articles -->
    <script>
        let navCollection = document.getElementById('nav-collections');
        let navMenusItems = document.getElementsByClassName('menus__item');
        let path = window.location.pathname;
        // 获取一级路径
        let dirs = path.split('/');
        switch (dirs[1]) {
            case 'algorithm':
                navCollection.classList.add('active');
                navCollection.firstElementChild.children[0].classList.add('active');
                break;
            case 'design-pattern':
                navCollection.classList.add('active');
                navCollection.firstElementChild.children[1].classList.add('active');
                break;
            case 'source-code':
                navCollection.classList.add('active');
                navCollection.firstElementChild.children[2].classList.add('active');
                break;
            case 'computer':
                navCollection.classList.add('active');
                navCollection.firstElementChild.children[3].classList.add('active');
                break;
            case 'architecture':
                navCollection.classList.add('active');
                navCollection.firstElementChild.children[4].classList.add('active');
                break;
            case 'wiki':
                navMenusItems[4].classList.add('active');
                break;
            case 'quest':
                navMenusItems[3].classList.add('active');
                break;
            default:
        }
    </script>
    <!-- ajax request packing-->
    {%- include js_ajax.html -%}
    <!-- zhihu background base on canvas -->
    {%- include js_zhihu-bg.html -%}
    <!-- fingerprint2 algorithm -->
    {%- include js_fingerprint2.html -%}
    <!-- hash algorithm -->
    {%- include js_hash.html -%}
    <script>
        let fingerprint = 'not generated';
        Fingerprint2.get(function (components) {
            let values = components.map(function (component) {
                return component.value;
            });
            fingerprint = Fingerprint2.x64hash128(values.join(''), 31);
        });

        ajax({
            method: 'GET',
            url: 'https://zoharyip.club/article/frequency',
            success: function (response) {
                let siteAccessElement = document.getElementById('site-access');
                if (siteAccessElement) {
                    siteAccessElement.innerText = response;
                }
            }
        });

        let href = window.location.href;
        href = href.substring(0, href.indexOf('#') === -1 ? href.length : href.indexOf('#'));

        window.setTimeout(function () {
            ajax({
                method: 'POST',
                url: 'https://zoharyip.club/article/frequency',
                data: {
                    'url': href,
                    'title': '{{ page.title }}',
                    'fingerprint': fingerprint
                },
                success: function (response) {
                    console.log("更新页面信息：" + response);
                }
        })}, 1500);
    </script>

    <!-- 语法增强器-->
    {%- include grammer_enchancer.html -%}

    <!-- Prism -->
    {%- if page.prism -%}
        <script src="/assets/vender/prism/prism.js"></script>
        <script>
            let pres = document.getElementsByTagName('pre');
            for (const pre of pres) {
                pre.classList.add('line-numbers');
                pre.classList.add('match-braces');
                pre.classList.add('rainbow-braces');
            }
        </script>
    {%- endif -%}
    <!-- MathJax -->
    {%- if page.mathjax -%}
        {%- include js_mathjax.html -%}
    {%- endif -%}
    <!-- Mermaid -->
    {%- if page.mermaid -%}
        <script src="/assets/vender/mermaid/mermaid.min.js"></script>
        <script>mermaid.initialize({startOnLoad:true});</script>
    {%- endif -%}
</html>
