---
layout: default
---


<section class="banner">
  <div class="container">
    <div class="banner__text-wrapper">
      <h1 class="banner__title" data-page="{{ page.permalink }}">{{ page.title }}</h1>
      <p class="banner__description">{{ page.description }}</p>
    </div>
      <div class="banner__img" style="background-image: url('{{ page.banner }}');"></div>
  </div>
</section>

<div class="container container--main-body">
  <div class="content">
      <article>
          {{ content }}
      </article>
  </div>
  {%- include sidebar.html -%}
</div>