---
layout: default
---

<div class="container container--main-body">
    <div class="content">
        <h1 class="post_title">{{ page.title }}</h1>
        {%- if page.top -%}
            <span class="meta-info transition3" data-meta="top">TOP</span>
        {%- endif -%}
        {%- for category in page.categories -%}
            <a class="meta-info transition3" data-meta="categories" href="/categories.html/#{{ category }}">{{ category }}</a>
        {%- endfor -%}
        {%- for keyword in page.keywords -%}
            <span class="meta-info transition3" data-meta="keyword" title="keyword-{{ keyword }}">{{ keyword }}</span>
        {%- endfor -%}
        {%- if page.description -%}
            <p class="post_description">{{ page.description | markdownify | strip_html }}</p>
        {%- endif -%}
        <article>
            {{ content }}
        </article>
    </div>
    {%- include sidebar.html -%}
</div>
