---
layout: default
gotop: false
---
<!-- 文章显示页面 -->
<div id="fixed_title" class="fix-title" hidden=true>
  <h3 onclick="titleBackToTop()">{{ page.title }}</h3>
</div>
<section id="origin_title" class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
  <div class="container">
    <div class="columns">
      <div class="column three-fourths">
        <div class="collection-title">
          <h1 class="collection-header">{{ page.title }}</h1>
        </div>
        <div class="collection-info">
          {% if page.modify %}
            <span class="meta-info">
              <span class="octicon octicon-pencil"></span>
              {{ page.modify }}
            </span>
          {% endif %}
          {% if page.date %}
            <span class="meta-info">
              <span class="octicon octicon-calendar"></span>
              {{ page.date | date: "%Y/%m/%d" }}
            </span>
          {% endif %}
          {% for cat in page.categories %}
            <span class="meta-info">
              <span class="octicon octicon-file-directory"></span>
              <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
            </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <article class="article-content markdown-body">
      {{ content }}
    </article>
    <div class="poetry">
      {% include poetry.html %}
    </div>
    <div class="share">
      {% include sns-share.html %}
    </div>
    {% comment %}
    <div class="comment">
      {% include comments.html %}
    </div>
    {% endcomment %}
  </div>
  <div class="column one-fourth">
    {% include sidebar-access-count.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>
<!-- /section.content -->
<script src="/assets/js/fixed_title.js"></script>