---
layout: default
---
<!-- 维基页面 -->
<div id="fixed_title" class="fix-title" hidden=true>
  <h3 onclick="titleBackToTop()">{{ page.title }}</h3>
</div>
<section id="origin_title" class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
  <div class="container">
    <div class="columns">
      <div class="column three-fourths">
        <div class="collection-title">
          <h1 class="collection-header">{{ page.title }}</h1>
        </div>
        {% if page.description %}
        <div class="collection-info">
          <span class="meta-info">
            {{ page.description }}
          </span>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <article class="article-content markdown-body">
    {{ content }}
    </article>
    <div class="poetry">
        {% include poetry.html %}
    </div>
    <div class="share">
      {% include sns-share.html %}
    </div>
    {% comment %}
    <div class="comment">
      {% include comments.html %}
    </div>
    {% endcomment %}
  </div>
  <div class="column one-fourth">
    {% include sidebar-access-count.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>
<!-- /section.content -->
<script src="/assets/js/fixed_title.js"></script>